# Adding farsi
# setxkbmap us,ir -option "lv3:ralt_alt,grp:alt_shift_toggle"
# setxkbmap -option 'grp:shifts_toggle'
setxkbmap -layout us,ir

# Changing left alt with super key (it must be after adding farsi)
# changing Capslock with Esc
# setxkbmap -option caps:swapescape
setxkbmap -option "shift:both_capslock_cancel"
setxkbmap -option altwin:swap_lalt_lwin

setxkbmap -option ctrl:nocaps
xcape -e 'Control_L=Escape'


#env variables
BROWSER=brave
EDITOR=nvim
