[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=i3
Comment=window manager
Exec=sh -c "i3 -c /home/$USER/.config/xfce4/i3-xfce"
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

