* {
  border: none;
  border-radius: 0;
  font-family: hack Nerd Font, monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  padding: 5px;
  color: #313244;
  margin-right: 0px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 5px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 5px;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 5px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#memory,
#cpu,
#workspaces,
#tray,
#backlight {
  background: #1e1e2e;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
  border-left: 0px;
  border-right: 0px;
}

#tray {
  border-radius: 5px;
  margin-right: 10px;
}

#workspaces {
  background: #1e1e2e;
  border-radius: 5px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 0px;
}

#custom-language {
  color: #f38ba8;
  border-left: 0px;
  border-right: 0px;
}

#custom-updates {
  color: #f5c2e7;
  border-left: 0px;
  border-right: 0px;
}

#window {
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 0px;
}

#clock {
  color: #fab387;
  border-radius: 5px 5px 5px 5px;
  margin-left: 0px;
  margin-right: 0px;
  border-left: 0px;
  border-right: 0px;
}

#network {
  color: #f9e2af;
  border-left: 0px;
  border-radius: 0px 5px 5px 0px;
  border-right: 0px;
  margin-right: 10px;
}

#pulseaudio {
  color: #89b4fa;
  border-left: 0px;
  border-right: 0px;
}

#battery {
  color: #a6e3a1;
  border-radius: 0 0px 0px 0;
  margin-right: 0px;
  border-left: 0px;
  border-right: 0px;
}

#cpu {
  color: #f5c2e7;
  border-left: 0px;
  border-right: 0px;
}
#memory {
  color: #7dc4e4;
  border-left: 0px;
  border-right: 0px;
  border-radius: 5px 0px 0px 5px;
}
